[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kukgini
[access "refs/for/refs/*"]
	read = group user/kukgini
	push = group user/kukgini
	label-Code-Review = -2..+2 group user/kukgini
	label-Verified = -1..+1 group user/kukgini
	rebase = group user/kukgini
	removeReviewer = group user/kukgini
	submit = group user/kukgini
[access "refs/heads/*"]
	read = group user/kukgini
	create = group user/kukgini
	push = +force group user/kukgini
	pushMerge = group user/kukgini
[access "refs/tags/*"]
	push = +force group user/kukgini
	pushTag = group user/kukgini
	pushSignedTag = group user/kukgini
